<header *ngIf="authenticationService.getUser().authenticated == true">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand title" aria-label="vuelta a la página principal"  href="/home"><img class="logo" src="../assets/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
          <li class="nav-item">
            <a *ngIf="authenticationService.getUser().authenticated == true" class="nav-link text" aria-label="usuarios" href="/users">Usuarios</a>
          </li>
          <li class="nav-item">
            <a *ngIf="authenticationService.getUser().authenticated == true" class="nav-link text" aria-label="grupos" href="/groups">Grupos</a>
          </li>
          <li class="nav-item">
            <a *ngIf="authenticationService.getUser().authenticated == true" class="nav-link text" aria-label="eventos" href="/events">Eventos</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="dropdown not">
            <button type="button" class="notButton nav-link  text" id="navbarDropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
              <span [ngClass]="badge" class="position-absolute top-0 start-100 translate-middle p-1 border border-light rounded-circle">
                <span class="visually-hidden">Notificaciones</span>
              </span>
            </button>
            <ul class="dropdown-menu notification-menu" aria-labelledby="navbarDropdownMenuLink2">
              <li class="dropdown-item textDrop" *ngFor="let notification of notifications">
                <p >{{notification}}</p>
              </li>
              <li class="dropdown-item textDrop" [hidden]="notifications.length > 0"><p >No hay notificaciones pendientes</p></li>
            </ul>
          </li>
          <li class="nav-item dropdown profile">
            <a *ngIf="authenticationService.getUser().authenticated == true" aria-label="desplegable" class="nav-link dropdown-toggle text" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <ng-container *ngIf="authenticationService.getUser().photo; else imagesDiv">
                <img class="image" [src]="authenticationService.getUser().photo" alt="foto de usuario">
              </ng-container>
              <ng-template #imagesDiv>
                <img class="image" [src]="defaultImage" alt="foto por defecto de usuario">
              </ng-template>
            </a>
            <ul class="dropdown-menu profileDrop" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a *ngIf="authenticationService.getUser().authenticated == true" aria-label="perfil" class="dropdown-item textDrop" href="/profile">Perfil</a>
              </li>
              <li><a *ngIf="authenticationService.getUser().authenticated == true" aria-label="historial de transacciones" class="dropdown-item textDrop" href="/transactionHistory">Historial de transacciones</a></li>
              <li><a *ngIf="authenticationService.getUser().authenticated == false" class="dropdown-item textDrop" aria-label="inicio de sesión" (click)="logIn()">Iniciar sesión</a></li>
              <li><a *ngIf="authenticationService.getUser().authenticated == true" class="dropdown-item textDrop" aria-label="cierre de sesión" (click)="logOut()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="container h-100">
  <router-outlet></router-outlet>
</main>