.title{
    padding-top: 5px;
    padding-right: 10px;
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 15%;
    color: #555;

}