<section>
    <div [hidden]="!hidden" class="imageDiv">
        <img src="../../../assets/logo.png">
    </div>
    <div [hidden]="!hidden">
        <h1 [ngClass]="messageColor">{{message}}</h1>
    </div>
        <form [hidden]="hidden" (submit)="retrievePassword();" ngNativeValidate #retrievePasswordForm="ngForm">
            <div>
                <input class="inputs" type="password" id="register_userPassword" name="userPassword" placeholder="Contraseña*"
                               [(ngModel)]="password" required #userPasswordForm="ngModel" minlength="6">
                <div *ngIf="retrievePasswordForm.submitted && userPasswordForm.invalid" class="alert alert-danger">
                    <div *ngIf="userPasswordForm.errors.required">La contraseña es un campo obligatorio</div>
                    <div *ngIf="userPasswordForm.errors.minLenght">La contraseña no debe tener menos de 6
                                caracteres
                    </div>
                </div>
            </div>
            <div>
                <input class="inputs" type="password" id="register_userPasswordConfirm" name="userPasswordConfirm"
                               placeholder="Confirmación contraseña*" [(ngModel)]="passwordConfirm" required
                               #userPasswordConfirmForm="ngModel" minlength="6">
                <div *ngIf="password != passwordConfirm" class="alert alert-danger">
                    <div>La contraseña de confirmación no coincide</div>
                </div>
                <div *ngIf="retrievePasswordForm.submitted && userPasswordConfirmForm.invalid" class="alert alert-danger">
                    <div *ngIf="userPasswordConfirmForm.errors.required">La contraseña es un campo obligatorio
                    </div>
                    <div *ngIf="userPasswordConfirmForm.errors.minLenght">La contraseña no debe tener menos de 6
                                caracteres
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" class="button" value="Guardar">
            </div>
        </form>
</section>
<simple-notifications></simple-notifications>
