<div class="modal fade" id="createGroupModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="createGroupLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (submit)="onSubmit();" ngNativeValidate #createUserGroupForm="ngForm">
                    <div class="col container-fluid">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 file-input imageDiv">
                                <input (change)="getImage($event)" accept="image/png,image/jpeg" class="file"
                                       type="file"
                                       id="createUserGroup_userGroupPhoto" name="userGroupPhoto">
                                <label title="Cambiar imagen de grupo" for="createUserGroup_userGroupPhoto"
                                       (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
                                    <ng-container *ngIf="userGroup.groupPhoto; else imagesDiv">
                                        <img class="image imageColor2" [ngClass]="imageColor" [src]="userGroup.groupPhoto" alt="imagen de grupo"
                                             id="createUserGroup_photo">
                                    </ng-container>
                                    <ng-template #imagesDiv>
                                        <img class="image imageColor2" alt="imagen de grupo por defecto" [ngClass]="imageColor" [src]="defaultImage">
                                    </ng-template>
                                    <p class="imageText2" [ngClass]="imageText"></p>
                                </label>
                                <div *ngIf="imageFormat == false"
                                     class="alert alert-danger">
                                    <div *ngIf="imageFormat == false">Sólo JPG o PNG
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="row name-row">
                                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input type="text" id="createUserGroup_userGroupName" name="userGroupName"
                                               class="inputs" placeholder="Nombre*" minlength="1" maxlength="40"
                                               pattern="^[a-zA-ZáéíóúüñÁÉÍÓÚÜÑ1-9,.'-]([ ]?[a-zA-ZáéíóúüñÁÉÍÓÚÜÑ1-9,.'-]+)*"
                                               title="Puede contener letras, máximo 40 caracteres. Campo obligatorio"
                                               [(ngModel)]="userGroup.groupName" required
                                               #userGroupNameForm="ngModel" value="gggg">
                                        <div *ngIf="createUserGroupForm.onSubmit(undefined) && userGroupNameForm.invalid  || userGroupNameForm.invalid && userGroupNameForm.value != null"
                                             class="alert alert-danger">
                                            <div *ngIf="userGroupNameForm.errors.required">Campo obligatorio
                                            </div>
                                            <div *ngIf="userGroupNameForm.errors.pattern">Máximo 40 caracteres
                                                alfanuméricos
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row description-row">
                                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <textarea class="text-area inputs" name="userGroupDescription" rows="4"
                                                  cols="50"
                                                  id="createUserGroup_userGroupDescription" minlength="0"
                                                  maxlength="100"
                                                  name="userGroupDescription" placeholder="Descripción"
                                                  pattern="^[a-zA-ZáéíóúüñÁÉÍÓÚÜÑ1-9,.'-]([ ]?[a-zA-ZáéíóúüñÁÉÍÓÚÜÑ1-9,.'-]+)*"
                                                  title="Puede contener letras y números, máximo 100 caracteres"
                                                  [(ngModel)]="userGroup.groupDescription"
                                                  #userGroupDescriptionForm="ngModel">
                                        </textarea>
                                        <div *ngIf="createUserGroupForm.submitted && userGroupDescriptionForm.invalid  || userGroupDescriptionForm.invalid && userGroupDescriptionForm.value!= null"
                                             class="alert alert-danger">
                                            <div *ngIf="userGroupDescriptionForm.errors.pattern">Puede contener letras y
                                                números, máximo 100 caracteres
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                            <ng-select class="text" id="createUserGroup_userGroupMembers" name="userGroupMembers"
                                       [items]="friends"
                                       [multiple]="true"
                                       [closeOnSelect]="false"
                                       [hideSelected]="true"
                                       bindLabel="userLogin"
                                       bindValue="userId"
                                       placeholder="Participantes"
                                       [(ngModel)]="groupMembers">
                                <ng-template class="text" ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items ">
                                        <ng-container *ngIf="item.userPhoto; else userPhotoDiv">
                                            <span class="ng-value-label" title="{{item.userLogin}}"><img alt="usuario"
                                                    [src]="item.userPhoto" class="imageSelect"><p
                                                    class="selectedText">{{item.userLogin}}</p></span>
                                        </ng-container>
                                        <ng-template #userPhotoDiv>
                                            <span class="ng-value-label" title="{{item.userLogin}}"><img alt="usuario por defecto"
                                                    [src]="defaultUserImage" class="imageSelect"><p
                                                    class="selectedText">{{item.userLogin}}</p></span>
                                        </ng-template>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                              aria-hidden="true">×</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                    <ng-container *ngIf="item.userPhoto; else userPhotoDiv">
                                        <span class="ng-value-label" title="{{item.userLogin}}"><img alt="usuario"
                                                [src]="item.userPhoto" class="imageSelect"><p
                                                class="selectedText listSelect">{{item.userLogin}}</p></span>
                                    </ng-container>
                                    <ng-template #userPhotoDiv>
                                        <span class="ng-value-label" title="{{item.userLogin}}"><img alt="usuario por defecto"
                                                [src]="defaultUserImage" class="imageSelect"><p
                                                class="selectedText listSelect">{{item.userLogin}} </p></span>
                                    </ng-template>
                                </ng-template>
                            </ng-select>

                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="buttons">
                            <button type="button" id="closeButton" class="button close" data-bs-dismiss="modal" (click)="closeModal()">
                                Cerrar
                            </button>
                        </div>
                        <div class="buttons">
                            <input type="submit" class="button" value="Guardar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>