<div class="modal fade" id="retrievePasswordEmailModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="retrievePasswordEmailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title">{{title}}</h5>
                <button id="closeButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (submit)="onSubmit();" ngNativeValidate #retrievePasswordEmailForm="ngForm">
                     <div class="col container-fluid">
                        <div class="row">
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <input class="inputs" type="email" id="register_userEmail" name="userEmail" placeholder="Correo electrónico*"
                                       [(ngModel)]="email" required #userEmailForm="ngModel" minlength="6">
                                <div *ngIf="retrievePasswordEmailForm.submitted && userEmailForm.invalid" class="alert alert-danger">
                                    <div *ngIf="userEmailForm.errors.required">El correo electrónico es un campo obligatorio
                                    </div>
                                    <div *ngIf="userEmailForm.errors.pattern">El correo electrónico solo puede contener letras,
                                        @, . y debe estar comprendido entre 1 y 100 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="buttons">
                                <button type="button" id="closeButton1" class="button close" data-bs-dismiss="modal" (click)="closeModal()">
                                    Cerrar
                                </button>
                            </div>
                            <div class="buttons">
                                <input type="submit" class="button" value="Enviar">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<simple-notifications></simple-notifications>