@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.modal-header{
    padding-bottom: 10px;
}
.drop{
    margin-top: 5px;
    margin-left: -5px;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(102, 187, 106, 0.1);
}

.buttonText{
    text-decoration: none;
    border: 1px solid #ffffff;
    box-shadow: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
    color: #333;
    outline: none;
}

.title{
    padding-top: 5px;
    margin-left: 5%;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: right;
    width: 55%;
    color: #555;
}

.row{
    align-content: center;
    padding-bottom: 10px;
    width: 100%;
}

.col{
    text-align: center;
}

.imageUserDiv{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.imageUser {
    width:173px;
    height:173px;
    border-radius:90px;
    background-color: white;
}

.description-row{
    padding-top: 10px;
    text-align: center !important;
}

.text{
    text-decoration: none;
    border: 1px solid #ffffff;
    box-shadow: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: #333;
    outline: none;
}

.userText{
    padding-left: 20%;
}

.subtitle{
    color: #555!important;
    font-weight: 450!important;
}
.userSubtitle{
    margin-top: -6% ;
}

.closeButton{
    margin-top: -50px;
}

.modal-body{
    margin-bottom: -25px;
}

ul.paginationUser{
    display: flex;
    padding-left: 0;
    list-style: none;
    width: 100%;
}

ul.paginationUser li {
    display: inline;
    border: none;
}

ul.paginationUser li a {
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ffffff;
    box-shadow: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    background: #f5f5f5;
    color: #333;
    outline: none;
}

ul.paginationUser li:first-child a
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor:pointer;

}

ul.paginationUser li:last-child a
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor:pointer;
}

.previousUser{
    float: left;
}

.nextUser{
    float: right;
}

.statusDiv{
    padding-top: 5px;
    padding-right: 10px;
    width: 40%;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    max-width: 180px;
    background: #236726;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

.mutualBorder{
    border-left-style: solid;
    border-color:  #f5f5f5;
}

div.paginationMutualDiv {
    padding-top: 20px;
    height: 170px;
    width: 110%;
    overflow: scroll;
    cursor:pointer;
    margin-left: -30px;
}

div.mutualRight{
    margin-left: 10px;
}

.paginationMutualDiv::-webkit-scrollbar{
    -webkit-appearance: none;
}

.paginationMutualDiv::-webkit-scrollbar:vertical{
    width: 10px;
}

.paginationMutualDiv::-webkit-scrollbar-button:increment, .paginationMemberDiv::-webkit-scrollbar-button{
    display: none;
}

.paginationMutualDiv::-webkit-scrollbar:horizontal{
    height: 10px;
}

.paginationMutualDiv::-webkit-scrollbar-thumb{
    background: #f1f1f1;
    border-radius: 20px;
    border: 2px solid #f1f1f1;
}

.paginationMutualDiv::-webkit-scrollbar-track{
    border-radius: 10px;
}

.imageP{
    width: 100%;
}

.userDiv{
    padding-left: 23%;
}

.imageMutuals {
    width:100px;
    height:100px;
    border-radius:90px;
    background-color: white;
}

.mutual{
    margin-top: -8px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #333;
    width:100%;
}

.more{
    display:flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #236726;
    text-transform: uppercase;
    cursor:pointer;
    padding-left: 10%;

}

.moreMutual{
    display:flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #236726;
    text-transform: uppercase;
    cursor:pointer;
    padding-left: 10%;
}

.more a:hover{
    text-decoration: underline;
}

.mutualUser{
    width: 180%!important;
}

@media (min-width: 576px) and (max-width: 991px){
    .title{
        padding-left: 22% !important;
    }

    .dropdown{
        padding-left: 5% !important;
    }

    .userSubtitle{
        margin-top: -12% !important;
    }

    .mutualUser{
        width: 100%!important;
    }

    .userDiv{
        padding-left: 40% !important;
    }

    .userText{
        padding-left: 30% !important;
    }

    .more{
        padding-left: 40% !important;
    }

    .moreMutual{
        padding-left: 30% !important;
    }
}

@media (min-width: 500px) and (max-width: 575px){
    .title{
        padding-left: 22% !important;
    }

    .dropdown{
        padding-left: 5%!important;
    }

    .withoutText{
        margin-left: -5%!important;
    }

    .mutualUser{
        width: 120%!important;
    }

    .text{
        margin-left: 7% !important;
    }

    .userText{
        margin-right: 10%!important;
    }

    .imageUserDiv{
        margin-left: 4% !important;
    }

    .userScroll{
        padding-right: 3% !important;
    }

    .userDiv{
        margin-left: 2% !important;
    }

    .mutualDiv{
       margin-left: 8% !important;
    }

    .subtitle{
        margin-left: 15% !important;
    }

    .userSubtitle{
        margin-left: 6% !important;
    }

    .more{
        padding-left: 20% !important;
    }

    .moreMutual{
        padding-left: 20% !important;
    }

}


@media (min-width: 400px) and (max-width: 500px){
    .title{
        padding-left: 20%!important;
    }
    .text{
        margin-left: 7% !important;
    }

    .mutualUser{
        width: 160%!important;
    }

    .userText{
        margin-right: 10%!important;
    }

    .dropdown{
        padding-left: 15%!important;
    }
    .mutualDiv{
        margin-left: 8% !important;
    }
    .subtitle{
        margin-left: 15% !important;
    }

    .userSubtitle{
        margin-left: 6% !important;
    }
    .userDiv{
        margin-left: 2% !important;
    }
    .userScroll{
        padding-right: 1% !important;
    }

    .more{
        padding-left: 23% !important;
    }

    .moreMutual{
        padding-left: 23% !important;
    }
}


@media (min-width: 360px) and (max-width: 400px){
    .title{
        padding-left: 10%!important;
    }
    .text{
        margin-left: 10% !important;
    }
    .mutual{
        width: 140% !important;
    }

    .mutualUser{
        width: 280% !important;
    }
    .userText{
        margin-right: 2%!important;
    }

    .dropdown{
        padding-left: 15%!important;
    }
    .mutualDiv{
        margin-left: 30% !important;
    }
    .subtitle{
        margin-left: 15% !important;
    }

    .userSubtitle{
        margin-left: 4% !important;
    }
    .userDiv{
        margin-left: 20% !important;
    }
    .userScroll{
        padding-right: 1% !important;
    }

    .more{
        padding-left: 28% !important;
    }

    .moreMutual{
        padding-left: 28% !important;
    }
}

@media (min-width: 343px) and (max-width: 360px){
    .title{
        padding-left: 10%!important;
    }

    .mutual{
        width: 140% !important;
    }

    .mutualUser{
        width: 250% !important;
    }

    .dropdown{
        padding-left: 15%!important;
    }
    .text{
        margin-left: 10% !important;
    }

    .userText{
        margin-right: 2%!important;
    }

    .mutualDiv{
        margin-left: 30% !important;
    }
    .subtitle{
        margin-left: 15% !important;
    }

    .userSubtitle{
        margin-left: 4% !important;
    }
    .userDiv{
        margin-left: 23% !important;
    }
    .userScroll{
        padding-right: 1% !important;
    }
    .more{
        margin-left: 34% !important;
    }

    .moreMutual{
        margin-left: 34% !important;
    }
}

@media (min-width: 310px) and (max-width: 343px){
    .title{
        padding-left: 5%!important;
    }

    .mutual{
        width: 150% !important;
    }
    .mutualUser{
        width: 250% !important;
    }
    .dropdown{
        padding-left: 15%!important;
    }
    .text{
        margin-left: 10% !important;
    }

    .userText{
        margin-right: 2%!important;
    }

    .mutualDiv{
        margin-left: 30% !important;
    }
    .subtitle{
        margin-left: 15% !important;
    }

    .userSubtitle{
        margin-left: 4% !important;
    }
    .userDiv{
        margin-left: 23% !important;
    }
    .userScroll{
        padding-right: 0.01% !important;
    }

    .more{
        margin-left: 34% !important;
    }
    .moreMutual{
        margin-left: 34% !important;
    }
}

@media (min-width: 309px) and  (max-width: 311px){
    .title{
        padding-left: 5%!important;
    }

    .mutual{
        width: 170% !important;
    }

    .mutualUser{
        width: 260% !important;
    }

    .dropdown{
        padding-left: 25%!important;
    }

    .text{
        margin-left: 10% !important;
    }

    .userText{
        margin-right: 2%!important;
    }

    .mutualDiv{
        margin-left: 30% !important;
    }
    .subtitle{
        margin-left: 15% !important;
    }

    .userSubtitle{
        margin-left: 4% !important;
    }
    .userDiv{
        margin-left: 23% !important;
    }
    .userScroll{
        padding-right: 0.01% !important;
    }

    .more{
        margin-left: 34% !important;
    }

    .moreMutual{
        margin-left: 34% !important;
    }
}

@media (max-width: 308px){
    .title{
        padding-left: 5%!important;
    }

    .dropdown{
        padding-left: 25%!important;
    }


    .text{
        margin-left: 10% !important;
    }

    .userText{
        margin-right: 2%!important;
    }


    .mutualDiv{
        margin-left: 25% !important;
    }
    .subtitle{
        margin-left: 15% !important;
    }

    .userSubtitle{
        margin-left: 4% !important;
    }
    .userDiv{
        margin-left: 23% !important;
    }
    .userScroll{
        padding-right: 0.01% !important;
    }

    ul.paginationUser li {
        padding-bottom: 20px;
    }

    .previousUser{
        float: none;
        margin-left: -60px;
    }
    .mutual{
       width: 170% !important;
    }

    .nextUser{
        float: none;
    }

    .mutualUser{
        width: 350% !important;
    }
    .more{
        margin-left: 40% !important;
    }
    .moreMutual{
        margin-left: 40% !important;
    }
}